@import './base.css';
a,
.green {
  text-decoration: none;
  color: #72cae2;
  transition: 0.2s;
}

a:hover {
  font-weight: 700;
}

.container-base {
  padding: 0px 350px;
}

.nav-link {
  margin-right: 40px;
}

.nav-btn {
  padding: 0 20px;
}